@use 'sass:map';
@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.show-message {
    &:before {
      visibility: visible;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      opacity: 1;
    }

    &:after {
      clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
      opacity: 0;
      transition: clip-path 0s ease;
    }
  }

  &:before,
  &:after {
    content: attr(data-message);
    position: absolute;
    bottom: 0;
    right: 1em;
    transform: translateY(50%);
    align-self: flex-end;
    display: block;
    padding-inline: 0.5em;
    color: map.get(v.$color, grey, 100);
    background-color: map.get(v.$color, black, 100);
    font-size: 12px;
  }

  &:before {
    visibility: hidden;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition:
      clip-path 300ms ease,
      opacity 300ms ease;
  }

  &:after {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    opacity: 1;
    transition: clip-path 300ms ease;
  }

  &__field {
    flex-grow: 1;
    padding-block: 12px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid map.get(v.$color, grey, 200);
    color: map.get(v.$color, grey, 100);
    background-color: transparent;
    resize: none;

    &::placeholder {
      color: map.get(v.$color, grey, 200);
      transition: color 300ms ease-out;
    }

    &:focus {
      &::placeholder {
        color: map.get(v.$color, grey, 100);
      }
    }
  }
}
