@use 'sass:map';
@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: all 300ms ease-out;
  cursor: pointer;

  @include m.font-styles(h1);

  @media (hover: hover) {
    &:hover {
      color: map.get(v.$color, grey, 100);
    }
  }

  &:active {
    color: map.get(v.$color, grey, 100);
  }

  &[disabled="disabled"],
  &:disabled {
    color: map.get(v.$color, grey, 200);
  }
}