@use 'sass:map';
@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  @include m.font-styles(h1);
  @include m.underline-animation;

  &[disabled='disabled'],
  &:disabled {
    cursor: not-allowed;
    color: map.get(v.$color, grey, 100);
  }
}
