@use 'sass:map';

$color: (
    white: (
        100: #FFFFFF,
    ),
    black: (
        100: #000000,
    ),
    grey: (
        100: #ABABAB,
        200: #383838
    )
);

$breakpoints: (
    sd: 1439, // (small desktop) < 1440px
    lt: 1279, // (large tablet) < 1280px
    st: 1023, // (small tablet) < 1024px
    lm: 767, // (large mobile) < 768px
    sm: 575, // (small mobile) < 576px
);

$font-family: (
    primary: ("Schibsted Grotesk", sans-serif),
    secondary: ("Geist", sans-serif),
);

$font-size: (
    h1: (
        1439: 24px,
        1279: 22px,
        767: 20px,
    ),
    h2: (
        1439: 15px,
        1279: 15px,
        767: 15px,
    ),
    h3: (
        1439: 12px,
        1279: 12px,
        767: 12px,
    ),
    body: (
        1439: 16px,
        1279: 15px,
        767: 15px,
    ),
    body-small: (
        1439: 16px,
        1279: 15px,
        767: 15px,
    ),
);

$font-weight: (
    h1: (
        1439: 400,
        1279: 400,
        767: 400,
    ),
    h2: (
        1439: 600,
        1279: 600,
        767: 600,
    ),
    h3: (
        1439: 600,
        1279: 600,
        767: 600,
    ),
    body: (
        1439: 400,
        1279: 400,
        767: 400,
    ),
    body-small: (
        1439: 400,
        1279: 400,
        767: 400,
    ),
);

$line-height: (
    h1: (
        1439: 130%,
        1279: 130%,
        767: 130%,
    ),
    h2: (
        1439: 130%,
        1279: 130%,
        767: 130%,
    ),
    h3: (
        1439: 130%,
        1279: 130%,
        767: 130%,
    ),
    body: (
        1439: 155%,
        1279: 140%,
        767: 140%,
    ),
    body-small: (
        1439: 140%,
        1279: 135%,
        767: 135%,
    ),
);

$letter-spacing: (
    h1: (
        1439: -0.02em,
        1279: -0.02em,
        767: -0.02em,
    ),
    h2: (
        1439: -0.01em,
        1279: -0.01em,
        767: -0.01em,
    ),
    h3: (
        1439: -0.01em,
        1279: -0.01em,
        767: -0.01em,
    ),
    body: (
        1439: -0.005em,
        1279: -0.005em,
        767: -0.005em,
    ),
    body-small: (
        1439: -0.01em,
        1279: -0.005em,
        767: -0.005em,
    ),
);