@use 'sass:map';
@use '../../styles/variables' as v;

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  max-width: calc(30px + 50px + 812px + (100vw - 1280px) / 2);
  width: 100%;
  height: 100%;
  background-color: map.get(v.$color, black, 100);
  pointer-events: none;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  transition: clip-path 1000ms ease-out;

  &.open {
    visibility: visible;
    pointer-events: all;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 50px;
    max-width: calc(812px + 30px + 50px);
    width: 100%;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid map.get(v.$color, grey, 200);
  }
}
