.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease-out;
  cursor: pointer;

  svg {
    width: 0.8em;
    aspect-ratio: 1;
  }
}
